* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(235, 236, 236, 1) 62%, rgba(157, 155, 158, 0.3926820728291317) 76%);

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.m-tb {
    margin-top: 20px;
    margin-bottom: 20px;
}

.t-justify {
    text-align: justify;
}

.small-img {
    width: 40%;
}

header {
    position: fixed;
    top: 0;
    height: 140px;
    width: 100%;
    background: linear-gradient(180deg, rgba(96, 54, 168, 1) 20%, rgba(255, 2, 232, 1) 100%);
}

.header-top {
    color: #fff;
}

.title-web {
    margin-bottom: 10px;
}

.header-top {
    text-align: center;
    padding-top: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    height: 54px;
}


.nav-item+.nav-item {
    margin-left: 20px;
}

.nav-item a {
    position: relative;
    text-decoration: none;
    display: block;
    color: #fff;
    line-height: 54px;
}

.nav-item:hover a {
    text-decoration: underline;
}

.nav-list:last-child .nav-item:last-child a::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 25px;
    background-color: #fff;
    top: 15px;
    left: -10px;
}

.content {
    display: flex;
    margin-top: 160px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.content-left {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.content-left .box-news {
    background-color: #fff;
    padding: 20px 15px;
    width: 30%;
    border-radius: 5px;
}

.content-left .box-news:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.content-left .box-news a {
    text-decoration: none;
    color: #000;
}

.content-left .box-news h2 {
    font-size: 22px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    max-height: 52px;
    line-height: 26px;
}

.box-news h2:hover {
    text-decoration: underline;
}

.content-left .box-news p.date {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

.content-left .box-news p.des {
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    max-height: 60px;
    line-height: 20px;
}

.content-left .box-news p.des:hover {
    color: red;
}

.content-left .box-news img {
    margin: 10px 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.content-right {
    flex: 1;
}

.content-right .box {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.content-right .box a {
    font-size: 24px;
    text-decoration: none;
    color: red;
    font-weight: 600;
}

.content-right .box h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.content-right .box .img {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content-right .box .img img {
    width: 30px;
    cursor: pointer;
}

.sec-form {
    display: flex;
    background: linear-gradient(180deg, rgba(96, 54, 168, 1) 20%, rgba(255, 2, 232, 1) 100%);
}

.sec-form-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-form-left img {
    width: 100%;
    height: 100;
}

.sec-form-right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.sec-form-right form {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.sec-form-right form h2 {
    font-size: 29px;
    line-height: 50px;
    color: #fff;
}

.sec-form-right form .form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.sec-form-right form .form-group label {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.sec-form-right form .form-group input {
    margin-top: 10px;
    height: 42px;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    font-size: 22px;
}

.sec-form-right form .btn {
    text-align: center;
}

.sec-form-right form .btn button {
    width: 150px;
    height: 42px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(175deg, rgba(14, 75, 195, 1) 46%, rgba(13, 122, 209, 1) 59%);
}

.sec-form-right form .btn button:hover {
    background: linear-gradient(347deg, rgba(14, 75, 195, 1) 46%, rgba(13, 122, 209, 1) 59%);

    cursor: pointer;
}

footer {
    margin-top: 20px;
}

footer .map {
    overflow: hidden;
}

footer .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
    color: #666;
    font-weight: 400;
}

.content-left.content-detail {
    display: block;
    text-align: center;
    background-color: #fff;
    padding: 40px 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.content-detail p {
    line-height: 2rem;
}

/* Giai đoạn 2 */
.button_page {
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button_page button {
    width: 160px;
    height: 55px;
    text-decoration: none;
    border: none;
    padding: 10px;
    background: linear-gradient(147deg, rgba(96, 54, 168, 1) 20%, rgba(255, 2, 232, 1) 100%);
    color: #fff
}

.button_page button:hover {
    opacity: 0.7;
    cursor: pointer;
}

#home {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 20px;
}